@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.bg {
    background: url('/images/homeBG.jpg');
    /* Ensure you use the correct file extension */
    background-size: cover;
    background-repeat: no-repeat;
}

.max-w-super {
    max-width: 800px;
}

.max-w-md {
    max-width: 700px;
}

.max-w-des {
    max-width: 400px;
}

/* styles/globals.css */
html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Prevent horizontal overflow */
}

* {
    box-sizing: border-box;
    /* Ensure padding and border are included in element's total width and height */
}

body {
    font-family: 'Poppins', sans-serif;
    /* Ensure consistent font across the site */
}

.no-scroll {
    overflow-y: hidden;
    /* Hide the vertical scrollbar */
    overflow-x: hidden;
    /* Hide the horizontal scrollbar, if needed */
}

.heading {
    padding: 0;
    padding-bottom: 10px;
    font-weight: bolder;
    margin: 0;
    margin-bottom: 40px;
    border-bottom: solid 5px #FFD700;
}

.swipe-enter {
    transform: translateX(100%);
}

.swipe-enter-active {
    transform: translateX(0%);
    transition: transform 500ms ease-in-out;
}

.swipe-exit {
    transform: translateX(0%);
}

.swipe-exit-active {
    transform: translateX(-100%);
    transition: transform 500ms ease-in-out;
}

.container {
    width: 100%;
}

@media (min-width: 640px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }
}