/* styles/header.module.css */
.navContainer {
    flex-direction: row;
}

.nav {
    padding-left: 1rem;
}

.buttons {
    flex-direction: row;
}

.overlay {
    background-color: #007bff;
    /* Blue background */
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 50;
    /* Ensure it is on top of other elements */
}

.overlay button {
    border: 2px solid white;
    /* White border */
    font-size: 1.25rem;
    /* Adjust font size */
    padding: 0.75rem 1.5rem;
    /* Adjust padding for button size */
}

@media (max-width: 1030px) {
    .navContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav {
        display: none;
        /* Hide navigation links on mobile */
    }

    .buttons {
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }
}