.partnerCarouselWrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px;
}

.partnerCarousel {
    display: flex;
    align-items: center;
    animation: scroll-left 25s linear infinite;
    white-space: nowrap;
    gap: 50px;
    width: var(--carousel-width);
}

.partnerCarousel div {
    display: inline-flex;
    align-items: center;
    padding: 0 40px;

    height: 100%;
}

.partnerCarousel img {
    width: 150px;
    height: auto;
    margin: 0 20px;
    transform: scale(2.5);
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {

    .partnerCarouselWrapper {
        height: 80px;
    }

    .partnerCarousel div {
        padding: 0 20px;
    }

    .partnerCarousel img {
        width: 100px;
        height: auto;
        margin: 0 15px;
        transform: scale(1.5);
    }
}

/* Adjustments for smaller screens */
@media (max-width: 1000px) {

    .partnerCarouselWrapper {
        height: 80px;
    }

    .partnerCarousel div {
        padding: 0 20px;
    }

    .partnerCarousel img {
        width: 100px;
        height: auto;
        margin: 0 15px;
        transform: scale(2);
    }
}

@media (max-width: 480px) {
    .partnerCarouselWrapper {
        height: 40px;
    }

    .partnerCarousel div {
        padding: 0px;
    }

    .partnerCarousel img {
        width: 100px;
        height: auto;
        margin: 0 20px;
        transform: scale(1);
    }
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}