.partnerCarouselWrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px;
}

.partnerCarousel {
    display: flex;
    align-items: center;
    animation: scroll-left 25s linear infinite;
    white-space: nowrap;
    width: var(--carousel-width);
}

.partnerCarousel div {
    display: inline-flex;
    align-items: center;
    padding: 0 30px;
    height: 100%;
}

.partnerCarousel img {
    width: 100px;
    height: auto;
    margin: 0 20px;
    transform: scale(1.5);
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .partnerCarouselWrapper {
        height: 80px;
    }

    .partnerCarousel div {
        padding: 0 20px;
    }

    .partnerCarousel img {
        width: 60px;
        margin: 0 15px;

    }
}

@media (max-width: 480px) {
    .partnerCarouselWrapper {
        height: 60px;
    }

    .partnerCarousel div {
        padding: 0 20px;
    }

    .partnerCarousel img {
        width: 40px;
        margin: 0 20px;
    }
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}